[user]
	name = Steve Perkins
	email = stereosteve@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  s = status
[push]
	default = current
[branch]
	autosetupmerge = true
[core]
	excludesfile = ~/.gitignore
[branch "master"]
	remote = origin
	merge = refs/heads/master
